@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content {
	margin: 0px !important;
	width: 400px !important;
}

.leaflet-popup-content-wrapper{
	padding: 0px !important;
	border-radius: 15px !important;
}

.leaflet-popup-close-button {
	display: none;
}

